@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'), url(../font/OpenSans-300.woff) format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(../font/OpenSans-400.woff) format('woff');
}

.navbar-banner-control {
    position: relative;
    left: 50%;
    top: 25px;
    width: 30%;
    margin-left: -15%;
}

.navbar-banner-control-collapse {
    top: 0px;
}

.navbar-banner-control a {
    color: white;
}

#breadcrumbs .breadcrumb li .showText {
    display: none;
}

@media only screen and (max-width: 1100px) {
    .widget-tabs-title {
        display: none !important
    }
}

@media only screen and (max-width: 767px) {
    .widget-tabs-title {
        display: inline !important
    }
}

@media only screen and (max-width: 1024px) {
    .hidden-1024 {
        display: none !important
    }
}

.widget-header > .widget-caption, .widget-header > a:link {
    color: inherit;
}

.widget-header > .widget-caption, .widget-header > a:hover {
    text-decoration: none;
}

.widget-header > .widget-caption, .widget-header > a > :first-child {
    display: inline;
}

/* 轮播组件定制 */
.carousel-control {
    border: 1px solid #fff;
    line-height: 25px;
    display: none;
}

.carousel.slide:hover .carousel-control {
    display: inline;
}

.carousel-caption {
    filter: alpha(opacity=85); /*IE6-8 Hack*/
}

.carousel-caption h4 {
    overflow: hidden;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.carousel-indicators li {
    float: none;
    display: inline-block;
    border-radius: 6px;
    border: 1px solid white;
    background: #333;
    opacity: .85;
    filter: alpha(opacity=85);
}

.carousel-indicators li.active {
    background: #ccc;
    border-color: #666666;
}

.ace-nav > li.dark-orange {
    background-color: #fc6701;
}

/* 视图面板 */
.checkbox INPUT[type=checkbox] {
    margin-left: 0px \9; /* 修正IE8下的偏移问题 */
}

/* Widget定制 */
.widget-main.no-padding .table-bordered.no-thead tr:first-child td {
    border-top: 0px solid #ddd;
}

.widget-main.no-padding .table-bordered tr:last-child {
    border-bottom: 1px solid #ddd;
}

.widget-main .table-striped.no-thead tbody > tr:nth-child(odd) > td {
    background-color: Window;
}

.widget-main .table-striped.no-thead tbody > tr:nth-child(even) > td {
    background-color: #f9f9f9
}

.widget-shortcut {
    height: 145px;
    overflow: hidden;
    margin: 1px 0px;
}

.widget-shortcut .btn.btn-app {
    width: 100%;
}

.widget-shortcut .btn.btn-app > [class*=icon] {
    line-height: 1.1em;
    font-size: 5em;
}

.widget-main a:visited {
    color: gray;
}

/* 导航 */
.nav-tabs > .active > a {
    cursor: pointer !important;
}

.nav-tabs > li > a > .badge {
    margin-left: 4px;
}

.sidebar-menu > div {
    display: none;
}

.sidebar-menu > div.active {
    display: block;
}

.sidebar-menu .nav.more a {
    text-align: right;
}

ul.item-list i[class*="icon-"] {
    margin-right: 5px;
}

li.item-none {
    border-left: 0px solid #fff !important;
}

.page-content > div {
    display: none;
}

.page-content > div.active {
    display: block;
}

input[type=checkbox].ace + .lbl, input[type=radio].ace + .lbl {
    z-index: 10 !important;
}

.view-breadcrumb {
    display: inline-block;
}

.view-toolbar {
    margin: 1px 20px 0 0;
    float: right;
}

.viewPanel th span {
    font-size: 13px !important;
    font-weight: bold !important;
}

.view .databaseQuery {
    display: none;
}

.databaseQuery label .title {
    width: 8em;
    overflow-x: hidden;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.query-toolbar form label {
    margin-right: 30px;
}

.query-toolbar form label:last-child {
    margin-right: 0px;
}

.query-toolbar .input-append input.input-medium {
    width: 123px;
}

.dataTables_wrapper .dataTable {
    table-layout: fixed;
}

.dataTables_wrapper .dataTable td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.main-container {
    background-color: #e4e6e9 \9  /*IE6-8 Hack*/
}

.alert.digishell {
    position: fixed;
    top: 30%;
    left: 50%;
}

.footer {
    width: 100%;
    text-align: center;
    padding: 5px 0;
    border-top: 1px solid #e5e5e5;
    background-color: #f5f5f5;
}

.footer p {
    margin-bottom: 2px;
}

/* Skin Start */
/*
.navbar .navbar-inner {
    background-color: #fe9901 !important;
}

.nav-list > li > a:focus {
    color: #ff9801 !important;
}

.nav-list > li > a:hover {
    color: #ff9801 !important;
}

.nav-list > li > a:hover:before {
    background-color: #ffb753 !important;
}

.nav-list > li.active:after {
    border-right-color: #ffb753 !important;
}

.nav-list li.active > a:after {
    border-right-color: #ffb753 !important;
}

.nav-list > li.active > a, .nav-list > li.active > a:hover, .nav-list > li.active > a:focus, .nav-list > li.active > a:active {
    color: #ff9801 !important;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    border-top-color: #ffcb99 !important;
}

.nav-list > li.open > a {
    color: #f4ae26 !important;
}

.nav-list > li > .submenu li.open > a {
    color: #f4ae26 !important;
}

.nav-list > li .submenu > li.active > a {
    color: #f4ae26 !important;
}

.nav-list > li .submenu > li > a:hover {
    color: #f4ae26 !important;
}

.nav-list > li > .submenu li > .submenu li.active > a {
    color: #f4ae26 !important;
}

.nav-list > li > .submenu > li:before {
    border-top-color: #ffb653 !important;
}

.nav-list > li > .submenu:before {
    border-left-color: #ffb653 !important;
}

.nav-list > li a:hover > .arrow, .nav-list > li.active > a > .arrow, .nav-list > li.open > a > .arrow {
    color: #f4ae26 !important;
}

.nav-list > li > .submenu li.open > a .arrow {
    color: #f4ae26 !important;
}

.nav-list > li > .submenu li > .submenu li.open > a {
    color: #f4ae26 !important;
}

.nav-list > li > .submenu li > .submenu li.open > a .arrow {
    color: #f4ae26 !important;
}
*/
/*首页头部*/
.navbar-inner .brand {
    font-family: "Microsoft YaHei", \5FAE\8F6F\96C5\9ED1, Sans-Serif, Arial;
    font-weight: bold;
}

/*面包屑*/
.breadcrumb > li > a {
    color: #f4ae26 !important;
}

.page-content .page-header:first-child h1 {
    color: #ff9801 !important;
}

.nav-search .nav-search-input {
    border-color: #fdb853 !important;
}

/* Widget */

.widget-header {
    color: #666666 !important;
}

.widget-body a {
    color: #333333;
}

.widget-body a.carousel-control {
    color: #fff;
}

.widget-body a:hover {
    color: #ff9801;
    text-decoration: none;
}

.widget-body table {
    table-layout: fixed;
}

.widget-body table td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/*分页控件*/

.pagination ul > li.active > a, .pagination ul > li.active > a:hover {
    background-color: #ffb753 !important;
    border-color: #ffb753 !important;
}

/* 配置 */
.gridster ul {
    list-style: none;
}

.gridster .gs_w {
    background: #FFF;
    cursor: pointer;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.gridster .mini {
    zoom: 0.75;
    -moz-transform: scale(0.75);
    -moz-transform-origin: top left;
    -o-transform: scale(0.75);
    -o-transform-origin: top left;
}

@media only screen and (max-width: 1024px) {
    .gridster .mini {
        zoom: 0.65;
    }
}

.gridster .player {
    -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

.gridster .preview-holder {
    border: none !important;
    border-radius: 0 !important;
    background: rgba(255, 255, 255, .2) !important;
}

/*首页公司新闻(╯°□°）╯︵ ┻━┻ */
.companyNewsList {
    list-style: none;
    margin-left: 0px;
}

.companyNewsList li .title {
    width: 65%;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.companyNewsList li .date {
    width: 70px;
    float: right;
}

/*首页信息发布*/
.infoPubTable td .title{
    width: 94%;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.infoPubTable td .newFlag {
    color: #D53226;
    margin-left: 2px;
}

.carousel-indicators {
    left: 15px;
    right: auto;
}

.carousel-caption {
    padding: 2px;
    bottom: 48px;
}